<div class="footer">
    <p class="description">Super Recipe Roulette est une plateforme dédiée à la découverte et au partage de délicieuses recettes. Explorez une variété de plats savoureux et inspirants pour toutes les occasions!</p>
    <p>&copy; <%= new Date().getFullYear() %> Super Recipe Roulette. Tous droits réservés.</p>
</div>
