<% if (recipes.length > 0) { %>
    <% for (const recipe of recipes) { %>
      <div class="recipe-card">
        <img src="img/recipes/<%= recipe.recipeId %>.png" alt="Recipe Image">
        <h3>
          <a href="/recipes?recipe=<%= recipe.recipeId %>" class="recipe-link">
            <%= recipe.name %>
          </a>
        </h3>
        
      </div>
    <% } %>
  <% } else { %>
    <p>Aucune recette trouvée.</p>
  <% } %>
  