<form class="search-bar" action="/search-results" method="GET">
    <input type="text" name="query" id="searchInput" placeholder="Rechercher une recette ou un ingrédient..." required>
    <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
</form>