<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('partials/header.ejs') %>
  <title>Erreur 404 - Page Non Trouvée</title>
</head>
<body>
  <!-- Navbar -->
  <%- include('partials/navbar.ejs') %>

  <div class="error-container">
    <h1>Erreur 404</h1>
    <p>Oups ! La page que vous cherchez n'existe pas.</p>
    <a href="/" class="btn">Retour à l'accueil</a>
  </div>

  <!-- Pied de Page -->
  <%- include('partials/footer.ejs') %>
</body>
</html>
