<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('partials/header.ejs') %>
</head>
<body>
  <!-- Navbar -->
  <%- include('partials/navbar.ejs') %>


  erreur 404 (à completer)

   <!-- Pied de Page -->
   <%- include('partials/footer.ejs') %>

</body>
</html>