<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('partials/header.ejs') %>
</head>
<body>
  <!-- Navbar -->
  <%- include('partials/navbar.ejs') %>

  <!-- Bannière -->
  <div class="banner">
    <h1>Bienvenue sur la Super Recipe Roulette</h1>
    <p>Découvrez des recettes aléatoires selon vos préférences !</p>
  </div>

  <!-- Login Form Container -->
  <div class="login-container">
    <div class="login-card">
      <h2>Connexion</h2>
      <form id="loginForm" method="POST" action="/login">
        <div class="input-group">
          <i class="fas fa-user"></i>
          <input type="text" id="username" name="username" placeholder="Nom d'utilisateur" required>
        </div>
        <div class="input-group">
          <i class="fas fa-lock"></i>
          <input type="password" id="password" name="password" placeholder="Mot de passe" required>
        </div>
        <button type="submit" class="login-button">Se connecter</button>
        <!-- <p class="signup-link">Vous n'avez pas de compte? <a href="/signup">Inscrivez-vous</a></p> -->
      </form>
    </div>
  </div>


  <!-- Pied de Page -->
  <%- include('partials/footer.ejs') %>

</body>
</html>