<nav class="navbar">
    <div class="logo">Super Recipe Roulette</div>
    <ul>
      <li><a href="/home">Accueil</a></li>
      <li><a href="/search">Rechercher</a></li>
      <li><a href="/submit">Soumettre une recette</a></li>
      <li><a href="/login">Se connecter</a></li>
    </ul>
  </nav>